.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    

  @media only screen and (min-width: 768px) {
    .w-logo {
        width: 33% !important;
    
      }
  }
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 
  .custom-toggler:focus {
    outline: 0cm !important;
    box-shadow: none !important;
  } 
  .dropdown-toggle::after {
    display: none !important;
}
.dropdown-toggle{
  transition: 0.15s ease;
  padding-bottom: 0cm !important;
}
.dropdown-toggle.good .arrow {
  
    transform: rotate(-180deg)
  }
.dropdown-toggle.good .arrow:before{
      transform: translate(10px,0)
    }
.dropdown-toggle.good .arrow:after{
      transform: rotate(90deg) translate(10px,0)
}
.arrow{
  vertical-align: middle;
  font-size: 60%;
  transition: 0.4s ease;

}
.dropdown-menu{
  /*transform: scale(1, 0) translate(0%, -20%);*/
  overflow: hidden;
  transform-origin: top;
  transform: translate(0, -1%) scaleY(0);
  padding-top: 0cm !important;
  transition: all .5s ease-in-out !important;
  

}
.dropdown-menu.sized{
  
  transform: translate(0, 3%) scaleY(1);
  background-color: none !important;
  /*transform: scale(1, 1);*/

}
.dropdown-item{
  opacity: 0;
  transition: all .6s ease-in-out !important;
}
.dropdown-item.visible{
  opacity: 1;

}
.dp .dropdown-item{
  opacity: 0;
  transition: all .6s ease-in-out !important;
}
.dp .dropdown-item.visible{
  opacity: 1;

}
 .dp{
  overflow: hidden;
  transform: translate(0, -15%) scaleY(0);
  transition: all .5s ease-in-out !important;
}
.dp.visible{
  transform: translate(0, -13%) scale(1);
}



